/*样式重置开始*/
*{
    padding: 0;
    margin: 0;
}
ul, li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
a:link {
    text-decoration: none;
    color: inherit;
}
a:visited {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: none;
    color: inherit;
}
a:active {
    text-decoration: none;
    color: inherit;
}
html, body{
    font-size: 10px;
}

/*样式重置结束*/
#index{
    width: 600px;
    margin: 0 auto 50px auto;
    position: relative;
}
@media(max-width: 600px) {
    #index{
        width: 100%;
    }
}
@media(max-width: 330px) {
    body, html{
        font-size: 9px;
    }
}

